<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAw5lri2lbeVriw_ILH_MFj0WPvzUdsA1g</string>
	<key>GCM_SENDER_ID</key>
	<string>846669984753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kasper.pocket.adviser</string>
	<key>PROJECT_ID</key>
	<string>mercur-bf3ca</string>
	<key>STORAGE_BUCKET</key>
	<string>mercur-bf3ca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846669984753:ios:ef54f0ac25fb5657268a50</string>
</dict>
</plist>